<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <ul class="footer-ul">
          <li class="footer-ul-li">
            <span class="footer-copyright">&copy; 2015, все права защищены</span>
          </li>
          <li class="footer-ul-li">
            <a href="{% url 'home' %}" class="footer-link">Главная</a>
          </li>
          {% include '__includes/nav.html' %}
          <li class="footer-ul-li">
            e-mail: <a href="mailto:manager@enjoy-sa.ru" class="footer-link">manager@enjoy-sa.ru</a>
          </li>
        </ul>
    </div>
  </div>
</footer>
