<li><a href="{% url 'about:list' %}" class="icon-about"><img src="{{ STATIC_URL }}img/menu/icon-about.png" alt="О нас">О нас</a></li>
<li><a href="{% url 'travels:list' %}" class="icon-travel"><img src="{{ STATIC_URL }}img/menu/icon-travel.png" alt="Журнал путешествий">Журнал путешествий</a></li>
<li><a href="{% url 'groups:list' %}" class="icon-group"><img src="{{ STATIC_URL }}img/menu/icon-group.png" alt="Наши туры">Наши туры</a></li>
<li><a href="{% url 'excurse:list' %}" class="icon-excurse"><img src="{{ STATIC_URL }}img/menu/icon-excurse.png" alt="Экскурсии">Экскурсии</a></li>
<li><a href="{% url 'faq:list' %}" class="icon-faq"><img src="{{ STATIC_URL }}img/menu/icon-faq.png" alt="Вопросы и ответы">Вопросы и ответы</a></li>