{% extends 'base.html' %}
{% load inplace_edit %}
  {% block extra_media %}
   {% inplace_toolbar %}
  {% endblock %}
{% block header_class %}
  header-home
{% endblock %}
{% block content %}
  <section class="why landing-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
        {% if header_2 %}
          {% inplace_edit 'header_2.text|safe|default:""' %}
        {% else %}
          <h2 class="landing__title landing__title_dark">Почему именно мы</h2>
        {% endif %}
        </div>
        <div class="col-lg-10 col-lg-offset-1">
          <ul class="why-ul">
          {% if why_list %}
            {% for item in why_list %}
            <li class="why-ul-li">
              <div class="row">
                <div class="col-lg-2">
                  <div class="why-icon">
                    <img src="{{ item.icon_resize.url }}" alt="{{ item.name|default:'' }}">
                  </div>
                </div>
                <div class="col-lg-10">
                  <p class="why-ul-li__title">{% inplace_edit "item.name" %}</p>
                  <p class="why-ul-li__text">{% inplace_edit "item.text" %}</p>
                  <button class="btn btn-default js-why-button__show"><span class="glyphicon glyphicon-download"></span> Показать текст</button>
                  <button class="btn btn-default js-why-button__hide"><span class="glyphicon glyphicon-upload"></span> Скрыть текст</button>
                </div>
              </div>
            </li>
            {% endfor %}
          {% endif %}
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section class="info">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
        {% if header_3 %}
          {% inplace_edit 'header_3.text|safe|default:""' %}
        {% else %}
          <h2 class="landing__title landing__title_white">Совершите самое необычное путешествие в вашей жизни</h2>
        {% endif %}

          <form class="info-form ticket-form">
            <input type="text" name="name" class="ticket-form__name" placeholder="Ваше имя">
            <input type="text" name="email" class="ticket-form__email" placeholder="Ваш e-mail">
            <a href="#js-modal-ticket" class="btn btn-warning js-ticket-button">Узнать актуальные цены на туры в Африку</a>
          </form>
        </div>
      </div>
    </div>
  </section>
  <section class="documents landing-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
        {% if header_4 %}
          {% inplace_edit 'header_4.text|safe|default:""' %}
        {% else %}
          <h2 class="landing__title landing__title_dark">Наши документы</h2>
        {% endif %}
        </div>
      </div>
      <div class="row">
        {% for doc in document_list %}
        <div class="col-lg-3 col-xs-4">
          <div class="documents-item">
            <a href="{{ doc.image.url }}" rel="documents-group" class="documents-gallery" title="{{ doc.name }}">
              <img src="{{ doc.image_resize.url }}" alt="{{ doc.name }}">
            </a>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
  <section class="info2">
    <div class="container">
      <div class="row">
        <div class="col-lg-7">
        {% if header_5 %}
          {% inplace_edit 'header_5.text|safe|default:""' %}
        {% else %}
          <h2 class="landing__title landing__title_white">93% наших клиентов советуют нас друзьям и обращаются к нам
            повторно!</h2>
        {% endif %}
        </div>
      </div>
    </div>
  </section>
  {% if header_6.text %}
  <section class="why2 landing-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
        {% if header_6 %}
          {% inplace_edit 'header_6.text|safe|default:""' %}
        {% else %}
          <h2 class="landing__title landing__title_dark">Почему выбирают именно нас?</h2>
        {% endif %}
        </div>
      </div>
      <div class="row">
        {% for item in why2_list %}
        <div class="col-lg-6">
          <div class="why2-item">
            <div class="why2-item-number"><span class="why2-item-number__text">{{ forloop.counter }}</span></div>
            <p class="why2-item__text">
{#              {{ item.text|safe|default:'' }}#}
              {% inplace_edit 'item.text|safe|default:""' %}
            </p>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
  {% endif %}
  <section class="review">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
        {% if header_7 %}
          {% inplace_edit 'header_7.text|safe|default:""' %}
        {% else %}
          <h2 class="landing__title landing__title_white">Впечатления от поездок</h2>
        {% endif %}
        </div>
        <div class="col-lg-12">
          <div class="review-slider">
            <ul class="review-slides">
            {% for review in review_list %}
              <li class="review-slides-item">
                <div class="review-photo">
                  <img src="{{ review.photo_resize.url }}" alt="{{ review.name|default:'' }}" class="review-photo__img"/>
                </div>
                <div class="review-content">
                  <p class="review-content__text">
                    {{ review.text|safe|default:'' }}
                  </p>
                  <span class="review-content__name">
                    {{ review.name|default:'' }}
                  </span>
                </div>
                <div class="clearfix"></div>
              </li>
            {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="photo landing-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
        {% if header_8 %}
          {% inplace_edit 'header_8.text|safe|default:""' %}
        {% else %}
          <h2 class="landing__title landing__title_dark">Фотогаллерея</h2>
        {% endif %}
        </div>
      </div>
      <div class="row">
        {% for photo in photo_list %}
        <div class="col-lg-4 col-xs-6">
          <div class="photo-item">
            <a href="{{ photo.image.url }}" rel="photo-group" class="photo-gallery" title="{{ photo.name }}">
              <img src="{{ photo.image_resize.url }}" alt="{{ photo.name }}">
            </a>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
  <section class="capetown">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
        {% if header_9 %}
          {% inplace_edit 'header_9.text|safe|default:""' %}
        {% else %}
          <h2 class="landing__title landing__title_white">ЮАР - жемчужина африки и край света!</h2>
        {% endif %}
        </div>
        <div class="col-lg-4 col-lg-offset-4">
          <form action="{% url 'ticket:send' %}" method="post" class="vertical-form js-ticket-form">{% csrf_token %}
            <input type="text" name="name" placeholder="Ваше имя" class="vertical-form__name">
            <input type="email" name="email" placeholder="Ваш email" class="vertical-form__email">
            <textarea name="comment" placeholder="Ваше сообщение"  class="vertical-form__subject"></textarea>
            <input type="submit" value="Оставить заявку" class="btn  btn-warning vertical-form__submit">
          </form>
        </div>
      </div>
    </div>
  </section>
{% endblock %}