{% extends 'base.html' %}
{% block head %}
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="page__title">
          <h1 class="page__title_white">Журнал путешествий</h1>
        </div>
        <div class="page__text page__text_white">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad dolor itaque non quis ut. Accusantium est et fuga impedit modi nam odit temporibus voluptatibus. Alias animi facere neque voluptatem voluptatum.</p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block content %}
  <div class="content">
    <div class="container">
      <div class="row">
        <div class="travels">
          {% for item in '123456789' %}
          <div class="col-lg-4 col-xs-12">
            <div class="travels-item">
              <div class="travels-item-cover">
                <img src="{{ STATIC_URL }}img/travel-item__cover.jpg" class="travels-item-cover__img" alt="Lorem ipsum dolor sit amet, consectetur adipisicing elit.">
              </div>
              <div class="travels-item-extra">
                <span class="travels-item-extra__date">19.10.2015</span>
                <span class="glyphicon glyphicon-eye-open"></span><span class="travels-item-extra__visit">392</span>
                <span class="glyphicon glyphicon-comment"></span><span class="travels-item-extra__comment">10</span>
                <a href="#" class="travels-item__link">
                  <h2 class="travels-item__title">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h2>
                  <p class="travels-item__text">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae distinctio ea enim harum illum, in ipsam itaque laborum molestias nostrum nulla, odit, officia quis repellendus reprehenderit saepe similique unde vel?
                  </p>
                </a>
              </div>
            </div>
          </div>
          {% endfor %}
          <div class="clearfix"></div>
        </div>
        <div class="text-center">
          <ul class="pagination">
            <li>
              <a href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li>
              <a href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="authors">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <h3 class="authors__title">Наши авторы</h3>
          </div>
          <div class="authors-list">
          {% for item in '123' %}
            <div class="col-lg-6">
              <div class="authors-list-item">
                <div class="authors-list-item-avatar">
                  <img src="{{ STATIC_URL }}img/author__avatar.png" alt="Фёдор Конюхов" class="authors-list-item-avatar__img">
                </div>
                <div class="authors-list-item-content">
                  <span class="authors-list-item-content__name">Фёдор Конюхов</span>
                  <span class="glyphicon glyphicon-edit"></span>
                  <span class="authors-list-item-content__article">(10)</span>
                  <p class="authors-list-item-content__text">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet animi consectetur dignissimos distinctio, dolore doloribus ea fugit inventore ipsam iste.
                  </p>
                  <a href="#" class="authors-list-item-content__read btn btn-warning">Читать ></a>
                </div>
              </div>
            </div>
          {% endfor %}
            <div class="clearfix"></div>
          </div>
          <div class="authors-add">
          {% if user.is_authenticated %}
            <a href="#" class="btn btn-success btn-lg">Добавить публикацию</a>
          {% else %}
            <p>Для того, что бы стать автором вам нужно <a href="#js-modal-auth" id="js-auth-button">ВОЙТИ</a> в свою учётную запись, либо
            <a href="#js-modal-auth" id="js-auth-button">ЗАРЕГИСТРИРОВАТЬСЯ</a></p>
          {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}